<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>852947279281-r0q1k9hhghhc4g5p6hte98f0r9ujdqa5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852947279281-r0q1k9hhghhc4g5p6hte98f0r9ujdqa5</string>
	<key>API_KEY</key>
	<string>AIzaSyDwpgPOWdaMHi3SDdTEK1pHEE6wdpkP5Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>852947279281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chenglu.STAR</string>
	<key>PROJECT_ID</key>
	<string>star-e069a</string>
	<key>STORAGE_BUCKET</key>
	<string>star-e069a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:852947279281:ios:89f41aa30dce24f8</string>
	<key>DATABASE_URL</key>
	<string>https://star-e069a.firebaseio.com</string>
</dict>
</plist>